<aw-wizard>
  <aw-wizard-step stepTitle="Step 1">
    <p>This is the Step 1</p>
    <hr/>
    <div class="d-flex justify-content-end align-items-center">
      <button class="btn btn-success" awNextStep>
        Siguiente paso <i class="fas fa-arrow-right fa-fw"></i>
      </button>
    </div>
  </aw-wizard-step>
  <aw-wizard-step stepTitle="Step 2">
    <p>This is the Step 2</p>
    <hr/>
    <div class="d-flex justify-content-end align-items-center">
      <div class="btn-group">
        <button class="btn btn-danger" awPreviousStep>
          <i class="fas fa-arrow-left fa-fw"></i> Paso anterior
        </button>
        <button class="btn btn-success" awNextStep>
          Siguiente paso <i class="fas fa-arrow-right fa-fw"></i>
        </button>
      </div>
    </div>
  </aw-wizard-step>
  <aw-wizard-step stepTitle="Step 3">
    <p>This is the Step 3</p>
    <hr/>
    <div class="d-flex justify-content-end align-items-center">
      <button class="btn btn-danger" awPreviousStep>
        <i class="fas fa-arrow-left fa-fw"></i> Paso anterior
      </button>
    </div>
  </aw-wizard-step>
</aw-wizard>
